
@{
    ViewBag.Title = "净名修缮，善建者行";
}
@section styles{
    <link href="http://cdn.bootcss.com/animate.css/3.5.2/animate.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/Content/Base/font/iconfont.css?@ShiMiao.Common.Constants.ResourceVersion" />
    <link href="/Content/Shop/Goods2/css/index.css?@ShiMiao.Common.Constants.ResourceVersion" rel="stylesheet" />
}
<div class="wrapper wrapper-index">
    <div>
        <img class="top-image" src="~/Content/Shop/Goods2/images/barner_yf.jpg" />
    </div>
    <div class="audio-container">
        <a href="javascript:;" onclick="$.stone.playAudio(this)">
            <img class="animated slowwheel infinite" src="~/Content/Shop/Goods2/images/audio.png" />
        </a>
        <audio class="hide" id="audios" preload="auto" controls src="~/Content/Shop/Goods2/mp3/wspsxz.mp3" loop></audio>
    </div>
    <div class="wrapper-bar">
        <img src="~/Content/Shop/Goods2/images/gzft01.png" />
    </div>
    @*<div class="js-marquee order-marquee">
            <div class="js-pager order-list"
                 data-url="/Shop/Goods2/GetOrderList?oid=@ViewBag.EnOrgID"
                 data-callback="$.stone.initMarquee"
                 data-jstemplate="jsOrderList">
            </div>
        </div>*@
    @*<div class="wrapper-bar">
            <img src="~/Content/Shop/Goods2/images/gzftbg.png" />
        </div>*@
   @* <div class="row-count">
    <div class="img-sylz">
        <img class="fo-image" src="~/Content/Org/JMS/logo.jpg" />
       <span >随缘乐助 @ViewBag.RecordCount 人次,筹得 @ViewBag.TotalMoney 元，功德无量 ！</span>
            <span class="text">随缘乐助<span class="count1"> @ViewBag.RecordCount</span> 人次,筹得<span class="count1"> @ViewBag.TotalMoney</span>元，功德无量 ！</span>
        </div>
    </div>*@
    <div class="row-count">
        <div>
            <div class="money">￥@ViewBag.TotalMoney</div>
            <div class="text">已筹</div>
        </div>
        <div>
            <div class="money">@ViewBag.RecordCount</div>
            <div class="text">人次</div>
        </div>
    </div>
    <div class="wrapper-bar">
        <img src="~/Content/Shop/Goods2/images/gzft02.png" />
    </div>
    <div class="js-scroller goods-list"
         data-autoloadbottom="true"
         data-url="/Shop/Goods2/GetList?oid=@ViewBag.EnOrgID"
         data-callback="$.stone.loadGoodsList"
         data-jstemplate="jsList">
    </div>
    <div class="liang">
        <img src="/Content/Shop/Goods2/images/gzft17.jpg" />
        <div class="box liang-item">
            <div class="initial liang-title">大梁</div>
            <div>
                <div class="info">
                    <div class="left">
                        <div class="title">A<span class="amount">（@ViewBag.dlaCount 人已捐，剩余 @ViewBag.dla 份）</span></div>
                        <div class="price"><span>￥</span>40000/<span>份</span><span class="amount"></span></div>
                    </div>
                    <div class="right">
                        <form>
                            <input type="hidden" name="goodsID" value="9918ac35-a983-40c8-822a-2a71d4866c0f" />
                            <div>
                                <div class="click-number" data-step="1" data-min="1">
                                    <a href="javascript:;" class="btn-default decrease">-</a>
                                    <input type="number" name="Amount" value="1" class="form-control number">
                                    <a href="javascript:;" class="btn-default add">+</a>
                                </div>
                            </div>
                            @*<a class="btn-donation" href="javascript:;" data-callback="$.stone.saveOrder" data-mask="true" data-url="/Shop/Goods2/SaveOrder?oid=@ViewBag.EnOrgID" onclick="$.stone.submitForm(this)">
                                <img src="/Content/Shop/Goods2/images/renlin.png" />
                            </a>*@
                            <a class="btn-donation" href="javascript:;"  onclick="$.stone.showOrder(this, 40000, event)">
                                <img src="/Content/Shop/Goods2/images/renlin.png" />
                            </a>
                        </form>
                    </div>
                </div>
                <div class="info">
                    <div class="left">
                        <div class="title">B<span class="amount">（@ViewBag.dlbCount 人已捐，剩余 @ViewBag.dlb 份）</span></div>
                        <div class="price"><span>￥</span>30000/<span>份</span><span class="amount"></span></div>
                    </div>
                    <div class="right">
                        <form>
                            <input type="hidden" name="goodsID" value="3a2a9ebe-9900-4ede-966f-23e343c09445" />
                            <div>
                                <div class="click-number" data-step="1" data-min="1">
                                    <a href="javascript:;" class="btn-default decrease">-</a>
                                    <input type="number" name="Amount" value="1" class="form-control number">
                                    <a href="javascript:;" class="btn-default add">+</a>
                                </div>
                            </div>
                            @*<a class="btn-donation" href="javascript:;" data-callback="$.stone.saveOrder" data-mask="true" data-url="/Shop/Goods2/SaveOrder?oid=@ViewBag.EnOrgID" onclick="$.stone.submitForm(this)">
                                <img src="/Content/Shop/Goods2/images/renlin.png" />
                            </a>*@
                            <a class="btn-donation" href="javascript:;"  onclick="$.stone.showOrder(this, 30000, event)">
                                <img src="/Content/Shop/Goods2/images/renlin.png" />
                            </a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="box liang-item">
            <div class="initial liang-title">副梁</div>
            <div>
                <div class="info">
                    <div class="left">
                        <div class="title">A<span class="amount">（@ViewBag.flaCount 人已捐，剩余 @ViewBag.fla 份）</span>
                        </div>
                        <div class="price"><span>￥</span>20000/<span>份</span><span class="amount"></span></div>
                    </div>
                    <div class="right">
                        <form>
                            <input type="hidden" name="goodsID" value="fbc6178f-ba45-4376-b0e1-fe22c36d564b" />
                            <div>
                                <div class="click-number" data-step="1" data-min="1">
                                    <a href="javascript:;" class="btn-default decrease">-</a>
                                    <input type="number" name="Amount" value="1" class="form-control number">
                                    <a href="javascript:;" class="btn-default add">+</a>
                                </div>
                            </div>
                            @*<a class="btn-donation" href="javascript:;" data-callback="$.stone.saveOrder" data-mask="true" data-url="/Shop/Goods2/SaveOrder?oid=@ViewBag.EnOrgID" onclick="$.stone.submitForm(this)">
                                <img src="/Content/Shop/Goods2/images/renlin.png" />
                            </a>*@
                            <a class="btn-donation" href="javascript:;" onclick="$.stone.showOrder(this, 20000, event)">
                                <img src="/Content/Shop/Goods2/images/renlin.png" />
                            </a>
                        </form>
                    </div>
                </div>
                <div class="info">
                    <div class="left">
                        <div class="title">B<span class="amount">（@ViewBag.flbCount 人已捐，剩余 @ViewBag.flb 份）</span>
                        </div>
                        <div class="price"><span>￥</span>5000/<span>份</span><span class="amount"></span></div>
                    </div>
                    <div class="right">
                        <form>
                            <input type="hidden" name="goodsID" value="e49e5b82-83ce-417d-8591-aa216e195099" />
                            <div>
                                <div class="click-number" data-step="1" data-min="1">
                                    <a href="javascript:;" class="btn-default decrease">-</a>
                                    <input type="number" name="Amount" value="1" class="form-control number">
                                    <a href="javascript:;" class="btn-default add">+</a>
                                </div>
                            </div>
                            @*<a class="btn-donation" href="javascript:;" data-callback="$.stone.saveOrder" data-mask="true" data-url="/Shop/Goods2/SaveOrder?oid=@ViewBag.EnOrgID" onclick="$.stone.submitForm(this)">
                                <img src="/Content/Shop/Goods2/images/renlin.png" />
                            </a>*@
                            <a class="btn-donation" href="javascript:;" onclick="$.stone.showOrder(this,5000, event)">
                                <img src="/Content/Shop/Goods2/images/renlin.png" />
                            </a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="llsjmnfx">
        <form>
            <input type="hidden" name="goodsID" value="e540dac1-171f-4b75-a852-612de07a9550" />
            <img src="~/Content/Shop/Goods2/images/gzft08.png" />
            <div class="info">
                <div class="left">
                    <div class="title">大雄宝殿琉璃释迦牟尼佛像</div>
                    <div class="price"><span>￥</span>50000/<span>尊</span><span class="amount">（@ViewBag.fxCount 人已捐，剩余 @ViewBag.fx 份）</span></div>
                </div>
                <div class="right">
                    <div>
                        <div class="click-number" data-step="1" data-min="1">
                            <a href="javascript:;" class="btn-default decrease">-</a>
                            <input type="number" name="Amount" value="1" class="form-control number">
                            <a href="javascript:;" class="btn-default add">+</a>
                        </div>
                    </div>
                    @*<a class="btn-donation" href="javascript:;" data-callback="$.stone.saveOrder" data-mask="true" data-url="/Shop/Goods2/SaveOrder?oid=@ViewBag.EnOrgID" onclick="$.stone.submitForm(this)">
                        <img src="/Content/Shop/Goods2/images/renlin.png" />
                    </a>*@
                    <a class="btn-donation" href="javascript:;" onclick="$.stone.showOrder(this,50000, event)">
                        <img src="/Content/Shop/Goods2/images/renlin.png" />
                    </a>
                </div>
            </div>
        </form>
    </div>
    <div class="row-count">
        <div class="img-sylz">
            <span class="memotext">注：以上均为预算采购价格，最终将按实际采购结果公布明示。单个项目善款如有多余，将全部专项用于寺院其他建设。</span>
        </div>
    </div>
</div>

        @section scripts{
            <script src="/Content/Marquee/js/jquery.kxbdmarquee.js"></script>
            <script src="/Content/Shop/Goods2/js/index.js?@ShiMiao.Common.Constants.ResourceVersion"></script>
            @Html.Partial("/Views/Shared/ThirdShared.cshtml")
            <script>
                $(function () {
                    //$.stone.initJsPager();
                    $.stone.initScroller();
                });
            </script>
            <script id="jsOrderList" type="text/html">
                {{each list as item i}}
                <div class="order-item">
                    <div class="time">{{item.OrderTime}}</div>
                    <div class="nickname">{{item.NickName}}</div>
                    <div class="title">{{item.Title}}</div>
                    <div class="price">计{{item.RealPrice}}元</div>
                </div>
                {{/each}}
            </script>
            <script type="text/html" id="jsList">
                {{each list as item i}}
                <div class="item">
                    <form>
                        <input type="hidden" name="goodsID" value="{{item.GoodsID}}" />
                        {{if item.Image != ""}}
                        <img class="goods-image" src="{{item.Image}}" />
                        {{/if}}
                        <div class="info">
                            <div class="left">
                                <div class="title">{{item.Title}}<span class="amount">（<span class="amount">{{item.Amount - item.Balance - item.Frozen}}</span>人已捐，剩余<span>{{item.Balance + item.Frozen}}</span>份）</span></div>
                                <div class="price"><span>￥</span><span>{{item.Price}}元/{{item.Unit}}</span></div>
                            </div>
                            <div class="right">
                                <div>
                                    <div class="click-number" data-step="1" data-min="1">
                                        <a href="javascript:;" class="btn-default decrease">-</a>
                                        <input type="number" name="Amount" value="1" class="form-control number">
                                        <a href="javascript:;" class="btn-default add">+</a>
                                    </div>
                                </div>
                                @*<a class="btn-donation" href="javascript:;" data-callback="$.stone.saveOrder" data-mask="true" data-url="/Shop/Goods2/SaveOrder?oid=@ViewBag.EnOrgID" onclick="$.stone.submitForm(this)">
                                    <img src="/Content/Shop/Goods2/images/renlin.png" />
                                </a>*@
                                <a class="btn-donation" href="javascript:;" onclick="$.stone.showOrder(this,{{item.Price}}, event)">
                                    <img src="/Content/Shop/Goods2/images/renlin.png" />
                                </a>
                            </div>
                        </div>
                    </form>
                </div>
                {{/each}}
            </script>
        }
<div class="modal modal-order hide">
    <div class="top1">
        <img class="header-image" src="@ViewBag.HeaderImage" data-header="@ViewBag.HeaderImage" />
    </div>
    <form>
        <div class="modal-body">
            <div class="member">
                <a href="javascript:;" onclick="$.stone.showEdit(this)"><span class="member-nickname" data-nickname="@ViewBag.NickName">@ViewBag.NickName</span> @*<i class="iconfont icon-bianji"></i>*@</a>
            </div>
            <div class="modal-title" name="modal-title"><span></span></div>
            <div class="modal-price" name="modal-price"><span></span></div>
            <input type="hidden" name="goodsID" value="" />
            <div>
                <input type="hidden" name="Amount" value="1" class="form-control number">
            </div>
            @*<div class="money"><span></span></div>*@
            <div class="input-money">
                <div class="input">
                    <div>
                        <input class="username" name="username" type="text" maxlength="10" placeholder="输入姓名" />
                    </div>
                    <div>
                        <input class="userphone" name="userphone" type="number" maxlength="11" placeholder="输入手机号码" />
                    </div>
                    <div>
                        <input class="useraddress" name="useraddress" type="text" placeholder="输入地址" />
                    </div>
                </div>
                @*<div class="text">
                        <span>元</span>
                    </div>*@
            </div>
            <div class="message">
                <textarea placeholder="请输入祈福内容（功德回向）" name="message"></textarea>
            </div>
            <div class="anonymous">
                <label class="chk-label"><input type="checkbox" name="IsAnonymous" value="1" onchange="$.stone.changeAnonymous(this)"><i><span>✓</span></i>匿名</label>
            </div>
        </div>
        <div class="modal-footer">
            @*<div class="change">
                    <a href="javascript:;" onclick="$.stone.getRandom(this)">换个金额</a>
                    <input type="hidden" name="fee" />
                    <input type="hidden" name="name" />
                </div>*@
            <div class="next">
                <a class="btn-submit"
                   data-url="/Shop/Goods2/SaveOrder2?oid=@ViewBag.EnOrgID"
                   href="javascript:;"
                   data-precall="$.stone.validateDonationForm"
                   data-callback="$.stone.saveOrder"
                   data-mask="true"
                   data-mask-container=".modal-order"
                   onclick="$.stone.submitForm(this)">下一步</a>
            </div>
        </div>
    </form>
</div>